<html>
    <head>
       <title>Form Test Index</title>
    </head>
    <body>
    	<div class="container">
      <h1>Index Page</h1>
      <h3>Create a User</h3>
      Counter: {{counter}}
      <form action='/users' method='post'>
      	Name: <input type="text" name="name">
      	Email: <input type="text" name="email">
      	 <input type='submit' value='create user'>
      </form>
      <form action='/counter2', method='post'>
      	<input type=submit class="btn btn-primary" value='Counter + 2'>
      </form>
      <form action='/resetcounter', method='post'>
      	<input type=submit class="btn btn-primary" value='Reset'>
      </form>
  </div>
    </body>
</html>